aside {
  float: left;
  border: 1px solid red;
  width: 20%;
}
#header {
  width: 300px;
  float: left;
  border: 1px solid red;
}
#menu {
  float: right;
  margin-right: 20%;
}
#artigo {
  width: 80%;
  border: 1px solid red;
}
.clear {
  clear: both;
}
.imagens {
  width: 300px;
}
.flutuante {
  display: inline;
}
